body {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
}

header > h1 {
    margin: 0px;
}

h1 {
    padding: 10px;
}

header {
    height: 100px;
    width: 100%;
    background-color: lightgrey;
    font-size: 20pt;
}

footer {
    height: 100px;
    width: 100%;
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
}

.main {
    padding: 10px;
}
